.chat-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: calc(100% - 260px);
  max-width: 800px;
  margin: 0px auto;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

@media (max-width: 768px) {
  .chat-container{
      /* max-width: 100%; */
      height: 100dvh;
      width: 100%;
      /* margin: 0; */
      /* border-radius: 0; */
  }
}

.chat-top {
  flex: 0 0 auto; 
}

.messages {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 10px 10px;
  background-color: #f7f7f8;
  scrollbar-width: thin;        /* 'auto' | 'thin' | 'none' */
  scrollbar-color: #888 #f7f7f8; /* thumb | track */
}

.message-container {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

.message-container:hover .message-button-option {
  opacity: 1;
}

.message-items {
  max-width: 80%;
  position: relative;
}

.message-container.user {
  justify-content: flex-end;
}

.message-container.assistant {
  justify-content: flex-start;
}

.message-options-container {
  display: flex;
  flex-direction: row;
}

.message {
  font-size: 1.2em;
  padding: 1px 20px;
  border-radius: 25px;
  color: #2c2c2c;
  background-color: #e5e5ea;
}

.message-form {
  box-sizing: border-box;
  padding: 8px 20px;
  border-radius: 25px;
  background-color: #e5e5ea;
  display: flex;
  width: 500px;
  height: 40dvh;
  align-items: stretch;

  flex-direction: column;
}

.message-input {
  background-color: inherit;
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  
  font: inherit;
  font-size: 1.2em;
  line-height: 1.4;
  
  flex: 1;
  overflow-y: auto;

  white-space: pre-wrap;
  word-break: break-word;

  scrollbar-width: thin;
  scrollbar-color: #888 var(--color-accent);
}

.message.user {
  background-color: var(--color-accent);
  color: white;
}

.message-form.user {
  background-color: var(--color-accent);
  color: white;
}

.message-form.assistant {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0);
}

.message-form.assistant .message-input {
  scrollbar-color: #888 rgba(255, 255, 255, 0);
}

.message.assistant {
  background-color: #00000000;
}

.message-form.assistant {
  background-color: #00000000;
}

.message.error {
  background-color: hsla(0, 72%, 50%, 0.422);
  border-color: crimson;
  padding: 0px 10px;
  color: black;
}

.message-button-option {
  opacity: 0;
  width: 2em;
  aspect-ratio: 1 / 1;
  margin:0;
  padding: 0px 0px;
  border-radius: 30pt;
  background-color: #cfcfd600;
  color: rgb(57, 57, 57);
  
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 0;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.message-button-option:hover {
  background-color: #929297;
  color: #ffe;
}

.input-container {
  display: flex;
  padding: 20px;
  border-top: 2px solid #e5e5ea;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.chat-input {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  color: black;
  background-color: #e2dfd8;
}

.button_submit {
  max-width: 60px;
  max-height: 45px;
  border: none;
  outline: none;
  background-color: var(--color-accent);
  color: wheat;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.button_stop {
  max-width: 60px;
  max-height: 45px;
  border: none;
  outline: none;
  background-color: var(--color-accent);
  color: wheat;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.button:hover {
  background-color: var(--color-accent-hover);
}

.button:disabled {
  background-color: #9e9ea1;
}

.button_stop:hover {
  background-color: var(--color-accent-hover);
}

.button_stop:disabled {
  background-color: #9e9ea1;
}

.typing-indicator {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
}

.typing-indicator span {
  height: 10px;
  width: 10px;
  float: lef;
  margin: 0 1px;
  background-color: #9e9ea1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}

.typing-indicator span:nth-of-type(1) {
  animation: 1s blink infinite 0.3333s;
}

.typing-indicator span:nth-of-type(2) {
  animation: 1s blink infinite 0.6666s;
}

.typing-indicator span:nth-of-type(3) {
  animation: 1s blink infinite 0.9999s;
}

@keyframes blink {
  50% {
      opacity: 1;
  }
}

.dark-theme .messages {
  background-color: #1e1e1e;
  scrollbar-color: #888 #1e1e1e; /* thumb | track */
}

.dark-theme .message {
  background-color: #333;
}

.dark-theme .message.user {
  background-color: var(--color-accent);
  color: white;
}

.dark-theme .message.assistant {
  color: var(--color-text);
  background-color: #00000000;
}

.dark-theme .message.error {
  color: white;
  background-color: hsla(0, 72%, 50%, 0.422);
  border-color: crimson;
  padding: 0px 10px;
}

.dark-theme .input-container {
  display: flex;
  padding: 20px;
  border-top: 2px solid #333;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dark-theme .chat-input {
  background-color: #333;
  color: white;
}

.dark-theme .message-button-option {
  color: #e5e5ea;
}

.message-form-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.message-form .button_submit {
  margin-left: 8px;
  margin-right: 0px;
  background-color: #e5e5ea;
  color: #1a1a1a;
  max-width: 80px;
}

.message-form .button_submit:hover {
  background-color: #d6d6db;
}


.message-form .button_stop {
  margin-left: 8px;
  margin-right: 0px;
  background-color: #1a1a1a;
  color: #d6d6db;
  max-width: 80px;
}

.message-form .button_stop:hover {
  background-color: #292929;
}
