.chat-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: calc(100% - 260px);
  max-width: 800px;
  margin: 0px auto;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

@media (max-width: 768px) {
  .chat-container{
      /* max-width: 100%; */
      height: 100dvh;
      width: 100%;
      /* margin: 0; */
      /* border-radius: 0; */
  }
}

.chat-top {
  flex: 0 0 auto; 
}

.messages {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 10px 10px;
  background-color: #f7f7f8;
  scrollbar-width: thin;        /* 'auto' | 'thin' | 'none' */
  scrollbar-color: #888 #f7f7f8; /* thumb | track */
}

.message-container {
  display: flex;
  margin-bottom: 10px;
}

.message-container:hover .message-button-option {
opacity: 1;
}

.message-items {
  max-width: 80%;
  position: relative;
}

.message-container.user {
  justify-content: flex-end;
}

.message-container.assistant {
  justify-content: flex-start;
}

.message-options-container {
  flex-direction: row;
}

.message {
  padding: 1px 20px;
  border-radius: 25px;
  color: #2c2c2c;
  background-color: #e5e5ea;
}

.message.user {
  background-color: #d39314;
  color: white;
}

.message.assistant {
  background-color: #e5e5ea;
}

.message.error {
  background-color: hsla(0, 72%, 50%, 0.422);
  border-color: crimson;
  padding: 0px 10px;
  color: black;
}

.message-button-option {
  opacity: 0;
  width: 2em;
  aspect-ratio: 1 / 1;
  margin:0;
  padding: 0px 0px;
  border-radius: 30pt;
  background-color: #cfcfd600;
  color: rgb(57, 57, 57);
  
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 0;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.message-button-option:hover {
background-color: #929297;
color: #ffe;
}

.input-container {
  display: flex;
  padding: 20px;
  border-top: 2px solid #e5e5ea;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  color: black;
  background-color: #e2dfd8;
}

.button {
  border: none;
  outline: none;
  background-color: #d39314;
  color: wheat;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.button_stop {
  border: none;
  outline: none;
  background-color: #d39314;
  color: wheat;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.button:hover {
  background-color: #f3aa18;
}

.button:disabled {
  background-color: #9e9ea1;
}

.button_stop:hover {
  background-color: #f3aa18;
}

.button_stop:disabled {
  background-color: #9e9ea1;
}

.typing-indicator {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
}

.typing-indicator span {
  height: 10px;
  width: 10px;
  float: lef;
  margin: 0 1px;
  background-color: #9e9ea1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}

.typing-indicator span:nth-of-type(1) {
  animation: 1s blink infinite 0.3333s;
}

.typing-indicator span:nth-of-type(2) {
  animation: 1s blink infinite 0.6666s;
}

.typing-indicator span:nth-of-type(3) {
  animation: 1s blink infinite 0.9999s;
}

@keyframes blink {
  50% {
      opacity: 1;
  }
}

.dark-theme .messages {
  background-color: #1e1e1e;
  scrollbar-color: #888 #1e1e1e; /* thumb | track */
}

.dark-theme .message {
  background-color: #333;
}

.dark-theme .message.user {
  background-color: #d39314;
  color: white;
}

.dark-theme .message.assistant {
  background-color: #e5e5ea;
}

.dark-theme .message.error {
  color: white;
  background-color: hsla(0, 72%, 50%, 0.422);
  border-color: crimson;
  padding: 0px 10px;
}

.dark-theme .input-container {
  display: flex;
  padding: 20px;
  border-top: 2px solid #333;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dark-theme input {
  background-color: #333;
  color: white;
}

.dark-theme .message-button-option {
  color: #e5e5ea;
}
