.chat-container{
    display: flex;
    flex-direction: column;
    height: 95vh;
    max-width: 800px;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #e5e5ea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
    overflow: hidden;
}

@media (max-width: 768px) {
    .chat-container{
        max-width: 100%;
        height: 100vh;
        margin: 0;
        border-radius: 0;
    }
}

.messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px 10px;
    background-color: #f7f7f8;
    scrollbar-width: none;
}

.message-container {
    display: flex;
    margin-bottom: 10px;
}

.message-container.user {
    justify-content: flex-end;
}

.message-container.assistant {
    justify-content: flex-start;
}

.message {
    max-width: 80%;
    line-height: 1;
    padding: 0px 20px;
    border-radius: 25px;
    position: relative;
    color: #2c2c2c;
    background-color: #e5e5ea;
}

.message.user {
    background-color: #007bff;
    color: white;
}

.message.assistant {
    background-color: #e5e5ea;
}

.message.error {
    background-color: hsla(0, 72%, 50%, 0.422);
    border-color: crimson;
    padding: 0px 10px;
    color: black;
}

.input-container {
    display: flex;
    padding: 20px;
    background-color: white;
    border-top: 1px solid #e5e5ea;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    color: black;
    background-color: #f7f7f8;
}

.button {
    border: none;
    outline: none;
    background-color: #007bff;
    color: wheat;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.button_stop {
    border: none;
    outline: none;
    background-color: #007bff;
    color: wheat;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.button:hover {
    background-color: #0056b3;
}

.button_stop:hover {
    background-color: #0056b3;
}

.typing-indicator {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}

.typing-indicator span {
    height: 10px;
    width: 10px;
    float: lef;
    margin: 0 1px;
    background-color: #9e9ea1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
}

.typing-indicator span:nth-of-type(1) {
    animation: 1s blink infinite 0.3333s;
}

.typing-indicator span:nth-of-type(2) {
    animation: 1s blink infinite 0.6666s;
}

.typing-indicator span:nth-of-type(3) {
    animation: 1s blink infinite 0.9999s;
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}

.dark-theme {
    background-color: #242424;
    color: #e0e0e0;
}

.dark-theme .chat-container {
    border: 1px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #1e1e1e;
}

.dark-theme .messages {
    background-color: #1e1e1e;
}

.dark-theme .message {
    background-color: #333;
}

.dark-theme .message.user {
    background-color: #007bff;
    color: white;
}

.dark-theme .message.assistant {
    background-color: #e5e5ea;
}

.dark-theme .message.error {
    color: white;
    background-color: hsla(0, 72%, 50%, 0.422);
    border-color: crimson;
    padding: 0px 10px;
}

.dark-theme .input-container {
    display: flex;
    padding: 20px;
    background-color: #1e1e1e;
    border-top: 1px solid #333;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dark-theme input {
    background-color: #333;
    color: white;
}
