.sidebar-container {
  display: flex;
}

.sidebar {
  width: 260px;
  display: flex;
  flex-direction: column;
  background-color: #e2dfd8;
  justify-content: space-between;
  opacity: 1;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.sidebar.collapsed {
  opacity: 0;
  width: 0px;
  pointer-events: none;
  transform: translateX(-100px);
}

.header-wrapper {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: .25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.themeButton {
  background-color: #ffffff00;
  font-size: 2cap;
  align-items: center;
  border: 0px;
  cursor: pointer;
}

.toggleSidebarButton {
  cursor: pointer;
  color: #000000;
}

.toggleSidebarButton:hover {
  color: #f3aa18;
}

.show-sidebar-container {
  align-content: center;
  margin: 10px;
  position: absolute;
}

.sidebar-middle-container {
  flex: 1 1 auto; 
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 32px;
  margin-right: 32px;
}

.sidebar-bottom-container {
  flex: 0 0 auto;
}

.chats-container {
  display: flex;
  flex-direction: column;
}

.new-chat-button {
  height: 40px;
  /* border-style: solid;
  border-width: 2px; */
  border-radius: 10px;
  background-color: #e5ac3bb1;
  color: #2c2c2c;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;     
}

.new-chat-button:hover {
  background-color: #e5ac3bcf;
}

.sidebar-line-break {
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #878787;
}

.dark-theme .sidebar {
  background-color: rgb(49, 49, 49);
}

.dark-theme .toggleSidebarButton {
  cursor: pointer;
  color: #e5e5ea;
}

.dark-theme .toggleSidebarButton:hover {
  color: #f3aa18;
}

.dark-theme .new-chat-button {
  color: #e5e5ea;
}
