.app-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #f7f7f8;
}

@media (max-width: 768px) {
  .app-container{
      /* height: 100vh; */
      height: 100dvh;
  }
}

.dark-theme {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

.dark-theme .app-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #1e1e1e;
}