.app-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #f7f7f8;
}

.dark-theme {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

.dark-theme .app-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #1e1e1e;
}