#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.background {
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80vw;
  height: 80vh;
  background-color: rgb(204, 223, 230);
  border-radius: 8vh;
}
